---
layout: default
title: Tag Archive
generator: [posts_tag_index, pagination]
pagination:
    max_per_page: 20
    provider: page.tag_posts
---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/tags/{{ page.tag|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.tag }}' tag feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}{{ page.title }} "{{ page.tag }}"{% endblock %}

{% block content %}

<h2>{{ page.title }} "{{ page.tag }}"</h2>
{% for post in page.pagination.items %}
<h3>
  <a href="{{ site.url }}{{ post.url }}">
    {{ post.title }}
  </a>
</h3>
<p>
  {{ post.date|date('d M Y') }}
  {% if post.meta.tags %}
    in
    {% for tag in post.meta.tags %}
      <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
</p>
{% endfor %}

<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
    {% if page.pagination.previous_page %}
    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
    {% endif %}
    </nav>
{% endif %}
</div>
{% endblock content %}
