{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article>
        <header>
            <h1>
                {{ page.title }}
            </h1>
        </header>
        <p>
            {{ post.date|date('d M Y') }}
            {% if page.tags %} in
                {% for tag in page.tags %}
                    <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <div>
            {{ page.blocks.content|raw }}
        </div>
    </article>

    {% if page.previous_post or page.next_post %}
    <nav class="article">
        <div class="row">
            <div class="small-6 columns">
                {% if page.previous_post %}
                Previous<br/>
                <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a>
                {% endif %}
            </div>
            <div class="small-6 columns">
                {% if page.next_post %}
                Next<br/>
                <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endif %}

    {% if site.disqus.shortname and site.disqus.shortname != '' %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{site.disqus.shortname}}'; // required: replace example with your forum shortname
        {% if page.disqus.identifier  %}var disqus_identifier = '{{page.disqus.identifier}}'; {% endif %}
        {% if page.disqus.title %}var disqus_title = '{{page.disqus.title}}';{% endif %}
        {% if page.disqus.url %}var disqus_url = '{{page.disqus.url}}';{% endif %}
        {% if page.disqus.category_id %}var disqus_category_id = '{{page.disqus.category_id}}';{% endif %}
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}

{% endblock %}
