<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}

        <link href="{{ site.url }}/css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/foundation.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/tag_cloud.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />

        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />

        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <header class="main-header">
            <div class="row">
                <div class="medium-12 columns">
                    <h1>
                        <a href="{{ site.url }}/">George Papadopoulos' Personal Website</a>
                    </h1>
                    <ul class="inline-list">
                        <li><a href="{{ site.url }}/blog">Blog Archive</a></li>
                        <li><a href="{{ site.url }}/blog/tags">Tags</a></li>
                        <li><a href="{{ site.url }}/about">About</a></li>
                    </ul>
                    <div class="hr"></div>
                </div>
            </div>
        </header>

        <main>
            <div class="row">
                <div class="small-12 columns">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
            </div>
        </main>

        <footer>
            <div class="row">
                <div class="small-12 columns">
                    <div class="hr"></div>
                    &copy; {{ "now"|date("Y") }} {{ site.copyright }}
                    <small>BETA version</small>
                </div>
            </div>
        </footer>

        {% block scripts %}
        {% endblock %}

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
