<div class="row">
	<div class="medium-offset-3 medium-6 columns text-center">
		{% for tag in tag_cloud %}
		    <span class="tag size{{ tag.weight }}"><a href="{{ tag.page }}">{{ tag.tag }}</a></span>
		    {% if not loop.last %}
		        &nbsp;
		    {% endif %}
		{% endfor %}
	<div>
</div>
