html, body {
    background: #222222;
    color: #FFFFFF;
}

a {
    color: #EDC9AF;
}

article {
    margin-bottom: 2em;
}

header.main-header {
    padding: 1em 0 0 0;
    margin: 0 0 1em 0;
}

header.main-header h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

header.main-header h1 small {
    font-weight: normal;
}

pre {
    line-height: 1.2;
}

code {
    color: #DADADA;
}

nav.article {
    padding: 0 0 1em 0;
}

footer {
    padding: 2em 0 1em 0;
    margin-bottom: 1em;
}

.hr {
    border: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0 1.1875rem;
}