---
layout: default
title: Blog Archive
generator: pagination
pagination:
    max_per_page: 20
use:
    - posts

---
<h2>{{ page.title }}</h2>

{% for post in page.pagination.items %}
<h3>
  <a href="{{ site.url }}{{ post.url }}">
    {{ post.title }}
  </a>
</h3>
<p>
  {{ post.date|date('d M Y') }}
  {% if post.meta.tags %}
    in
    {% for tag in post.meta.tags %}
      <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
</p>
{% endfor %}
<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
      <div class="row">
              <div class="small-6 columns text-left">
                  {% if page.pagination.next_page %}
                  <a href="{{ site.url }}{{ page.pagination.next_page.url }}">&laquo; Older Posts</a>
                  {% endif %}
              </div>
              <div class="small-6 columns text-right">
                  {% if page.pagination.previous_page %}
                  <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts &raquo;</a>
                  {% endif %}
              </div>
          </div>
    </nav>
{% endif %}
</div>
