---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 10
use:
    - posts
---
{% for post in page.pagination.items %}
    <article>
        <header>
            <h1>
                <a href="{{ site.url }}{{ post.url }}">
                    {{ post.title }}
                </a>
            </h1>
            <p>
                {{ post.date|date('d M Y') }}
                {% if post.meta.tags %}
                    in
                    {% for tag in post.meta.tags %}
                        <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </header>

        <div>
            {{ post.blocks.content|raw }}
        </div>

        {% if post.blocks.full|length %}
        <p>
        <a href="{{ site.url }}{{ post.url }}">Continue Reading &raquo;</a>
        </p>
        {% endif %}
    </article>
    <!--<hr/>-->
{% endfor %}

{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        <div class="row">
            <div class="small-6 columns text-left">
                {% if page.pagination.next_page %}
                <a href="{{ site.url }}{{ page.pagination.next_page.url }}">&laquo; Older Posts</a>
                {% endif %}
            </div>
            <div class="small-6 columns text-right">
                {% if page.pagination.previous_page %}
                <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts &raquo;</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% endif %}
